<!DOCTYPE html>
<html>
  <head>
    <title><% provide(:title, "Home") %></title> 
  </head>
  <body>
	<h1>Moj lepszy Twitter</h1>
	<p>
 	 To jest strona główna nowego, lepszego Twittera.
	</p>
  </body>
</html>